<!--
    Cette vue partielle a pour mission de construire l'entête et les menus en fonction de l'action    
-->
@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    string searchString = Session["SearchString"] != null ? (string)Session["SearchString"] : "";

    int currentId = Session["CurrentStudentId"] != null ? (int)Session["CurrentStudentId"] : 0;
    bool search = Session["Search"] != null ? (bool)Session["Search"] : false;
    bool userConnected = Models.User.ConnectedUser != null;
    bool userIsAdmin = userConnected ? Models.User.ConnectedUser.IsAdmin : false;
    bool userCanWrite = userConnected ? Models.User.ConnectedUser.CanWrite : false;
    string index = RouteConfig.DefaultAction();

    string entityLabel = controller == "students" ? "Étudiant" : //pour le nom sur le dessu
                         controller == "teachers" ? "Professeur" :
                         controller == "courses" ? "Cours" : "";
    string actionLabel = action == "details" ? "Détails" : //pour l'actionn au dessu
                         action == "create" ? "Création" :
                         action == "edit" ? "Modification" :
                         action == "loginsjournal" ? "Connexions" :
                         action == "eventsjournal" ? "Activités" :
                         action == "manageusers" ? "Usagers" :
                         action == "sessionsettings" ? "Session courante" : "";
}

<div class="section roundedBorder">
    <div class="headerMenu">
        <i class="siteIcon"></i>
        @if (action == "index")
        {
            <div class="navLinks">
                <span style="font-weight: @(controller == "students" ? "bold" : "normal")"><a href="/Students/Index">Étudiants</a></span>
                <span style="font-weight: @(controller == "courses" ? "bold" : "normal")"><a href="/Courses/Index">Cours</a></span>
                <span style="font-weight: @(controller == "teachers" ? "bold" : "normal")"><a href="/Teachers/Index">Profs</a></span>
            </div>
        }
        else
        {
            <div class="pageTitle">@(entityLabel != "" && actionLabel != "" ? entityLabel + " - " + actionLabel : entityLabel + actionLabel)</div>
        }
        <!-- Direct action context command icons -->
        @switch (action)
        {
            case "login": break;
            case "subscribe":
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a class="cmdIcon fa fa-square-xmark" title="Annuler" onclick="history.back()"></a>
                </div>
                break;
            case "editprofil":
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a class="cmdIcon fa fa-square-xmark" title="Annuler" onclick="history.back()"></a>
                </div>
                break;
            case "index":
                <div id="mainMenuPanel" class="menu">

                    @if (userCanWrite)
                    {
                        <a href="/@controller/Create" class="cmdIcon fa fa-circle-plus" title="Ajouter..."></a>
                    }
                    <i id="cmdToggleSearch" class="cmdIcon fa fa-search" title="Recherche..."
                       onclick="$.get('/Home/ToggleSearch', function(){ location.reload(); })">
                    </i>
                    <!-- Dropdown menu -->
                    <div id="menu" class="dropdown ms-auto">
                        <!-- Drop down menu acces icon -->
                        <div data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="cmdIcon fa fa-bars" title="Menu"></i>
                        </div>
                        <!-- Drop down menu items -->
                        <div class="dropdown-menu noselect" id="DDMenu" style="width:300px !important">
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-address-card"></i>
                                <a href="/Accounts/EditProfil">Profil...</a>
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-sign-out"></i>
                                <a href="/Accounts/Logout">Déconnexion...</a>
                            </div>
                            @if (userIsAdmin)
                            {
                                <div class="dropdown-divider"></div>

                                <div class="dropdown-item item-layout">
                                    <i class="menuIcon fa fa-users"></i>
                                    <a href="/Accounts/ManageUsers">
                                        Gestion des usagers...
                                    </a>
                                </div>
                                <div class="dropdown-item item-layout">
                                    <i class="menuIcon fa fa-calendar-days"></i>
                                    <a href="/Accounts/LoginsJournal">
                                        Historique de connexions...
                                    </a>
                                </div>
                                <div class="dropdown-item item-layout">
                                    <i class="menuIcon fa fa-gear"></i>
                                    <a href="/Accounts/EventsJournal">
                                        Journal d'activités...
                                    </a>
                                </div>
                            }

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-info-circle"></i>
                                <a href="/Home/About">À propos...</a>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case "details":
                <div id="mainMenuPanel" class="menu">
                    @if (userIsAdmin)
                    {
                        <a href="/@controller/Edit" class="cmdIcon fa fa-pen-to-square" title="Modifier..."></a>
                        <i class="cmdIcon fa fa-trash-can"
                           title="Effacer"
                           onclick="bootbox.confirm(`<b style=color:red>Effacer ?</h3>`, function(result){ if (result) window.location = '/@controller/Delete'; })">
                        </i>
                    }
                    <a href="@index" class="cmdIcon fa fa-square-xmark" title="retour"></a>
                </div>
                break;
            case "create":
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a href="@index" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                </div>
                break;
            case "edit":
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a href="/@controller/Details/@currentId" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                </div>
                break;
            case "loginsjournal":
            case "eventsjournal":
            case "manageusers":
            case "about":
                <div id="mainMenuPanel" class="menu">
                    <a href="@index" class="cmdIcon fa fa-square-xmark" title="Retour"></a>
                </div>
                break;
            case "sessionsettings":
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check"
                       title="Confirmer"
                       onclick="document.getElementById('submit').click()"></i>
                    <a onclick="history.back()"
                       class="cmdIcon fa fa-square-xmark"
                       title="Annuler"></a>
                </div>
                break;
        }

    </div>
</div>



@if (action == "index" && search)
{
    <div class="flex">
        <input type="search" id="searchInput" class="section roundedBorder flexItem"
               value="@searchString" placeholder="Recherche..."
               oninput="$.get('/Home/SetSearchString', { value: this.value }, function(){ listAutoRefreshPanel.refresh(true); })">

        @if (controller == "students" && Session["StudentsYearsList"] != null)
        {
            <select class="section roundedBorder"
                    onchange="$.get('/Home/SetSearchYear', { value: this.value }, function(){ listAutoRefreshPanel.refresh(true); })">
                <option value="0">Toutes les années</option>
                @foreach (var year in ((List<int>)Session["StudentsYearsList"]).OrderByDescending(y => y))
                {
                    <option value="@year">@year</option>
                }
            </select>
        }
    </div>


   
}





